.note-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* font-size: 1.6rem; */
}

#note-list-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

#your-notes {
  padding: 0 15px 0 15px;
  margin: 0;
  /* font-size: 2.25rem; */
}

.searchbar.form-control {
  display: inline-block;
  margin-top: 0;
  margin-right: 2px;
  width: 40%;
  padding-top: 0;
  /* font-size: 1.6rem; */
}
/* 
button.sort-button.btn.btn-info {
  font-size: 1.6rem;
} */

#page-numbers {
  /* width: 100%; */
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#page-numbers > li {
  margin-right: 0.3em;
  color: blue;
  user-select: none;
  cursor: pointer;
  font-size: 20px;
}
